<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MyBaseCamp</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav id="navbar">
      <h2>MyBaseCamp</h2>
      <div>
        <a href="/projects">Projects</a>
        <a href="/logout">Sign Out</a>
      </div>
    </nav>
  </body>
</html>
